{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animate Test</title>
    <!-- <link rel="stylesheet" href="{% static 'css/details.css' %}"> -->
    <link rel="stylesheet" href="../static/css/details.css"
</head>
<body>
    <div class='spinner-wrapper'>
        <div class="spinner">
            <div class="textanim">
                <h4>Analyzing...</h4>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <div class="gradientbody">
            <h5>Designed by Aishwarya, Arun Kumar and Alfred Joel</h5>
            <div class="pagebox">
                <h1>Analysis Completed.</h1>
                <h7>The Model has predticted the following scores...</h7>
                <div class="results">
                    <div class="positive">
                        <h6>Positive 95.4%</h6>
                        <img src = "../static/css/like.svg" id="pimage">
                        <h3>This product has 95.4% of positive feedbacks
                        based on real user reviews.</h3>
                    </div>
                    <div class="negative">
                        <h6>Negative 5.76%</h6>
                        <img src = "../static/css/dislike.svg" id="nimage">
                        <h3>This product has 5.76% of negative feedbacks
                            based on real user reviews.</h3>
                    </div>
                    <div class="neutral">
                        <h6>Neutral 2.3%</h6>
                        <img src = "../static/css/neutral.svg" id="neuimage">
                        <h3>This product has 2.3% of neutral feedbacks
                            based on real user reviews.</h3>
                    </div>
                    <div class="finalResult">
                        <hh6>Overall Predticted Feedback : Positive by 95.4% </hh6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        let spinnerWrapper = document.querySelector('.spinner-wrapper');
    
        window.addEventListener('load', function () {
            spinnerWrapper.parentElement.removeChild(spinnerWrapper);
        });
    </script>
</body>
</html>