<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />

            <link rel="stylesheet" href="../static/css/style.css" />
          </head>
          
          <body>
            <div id="e1_14">
              <div id="e1_15">  
                <span id="e1_19">Designed by Alfred Joel</span>
                <span id="e1_20">INVENTORY MANAGEMENT SYSTEM</span>
                <div id="e2_2"></div>
                <div id="e2_1"></div>
                <div id="e2_0"></div>
                <div id="e1_21">
                  <span id="e1_22">ADD</span>
                  <span id="e1_23">Products / Location</span>
                </div>
                <div id="e1_24">
                  <span id="e1_25">EDIT</span>
                  <span id="e1_26">Products / Location</span>
                </div>
                <div id="e1_27">
                  <span id="e1_28">VIEW</span>
                  <span id="e1_29">Products / Location</span>
                </div>
              </div>
              </div>
          </body>
          </html>